
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let item of menu | paginate: { itemsPerPage: 5, currentPage: pageStart }; index as i">
    <div class="card">
      <img [src]="item.strMealThumb" class="img-fluid" alt="menu"
            (click)="onPlatoClick( item )">
      <div class="card-body">
        <h5 class="card-title">{{ item.strMeal }}</h5>
        <div class="row">
          <div class="col">
            <a  class="btn btn-outline-primary" (click)="incrementar(i)">Like {{ item.like }}</a>

          </div>
          <div class="col">
            <a  class="btn btn-outline-warning" (click)="actualizarContador(i)"><i class="bi bi-star">{{item.start }}</i></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="position-relative mt-4">
    <div class="position-absolute top-50 start-50 translate-middle">
        <pagination-controls
        (pageChange)="pageStart = $event"
        [responsive]="true">
        </pagination-controls>
    </div>
</div>
